version: '3'
name: aurora-enviroment

services:
  db1:
    container_name: aurora-mariadb
    image: mariadb:jammy
    volumes:
      - mariadb-vol:/var/lib/mysql
    ports:
      - 3306:3306
    restart: always
    environment:
      MARIADB_USER: ${DATABASE_USER}
      MARIADB_PASSWORD: ${DATABASE_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MARIADB_DATABASE: ${DATABASE_SCHEMA}

  db2:
    container_name: aurora-redis
    image: redis:7.0.9-alpine
    volumes:
      - redis-vol:/data
    ports:
      - 6379:${REDIS_PORT}
    restart: always
    command: redis-server --save 30 1 --loglevel warning --requirepass ${REDIS_PASSWORD}

  db3:
    container_name: aurora-prostgres
    image: postgres:15.2-alpine
    volumes:
      - postgres-vol:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_SCHEMA}

  typesense:
    container_name: aurora-typesense
    image: typesense/typesense:0.24.1-arm64
    restart: on-failure
    ports:
      - "${TYPESENSE_PORT}:8108"
    volumes:
      - typesense-data:/data
    command: '--data-dir /data --api-key=${TYPESENSE_API_KEY} --enable-cors'

  elasticsearch:
    container_name: aurora-elasticsearch
    image: elasticsearch:8.7.1
    restart: always
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    ports:
      - ${ELASTIC_PORT}:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1

  kiabana:
    depends_on:
      - elasticsearch
    container_name: aurora-kibana
    image: kibana:8.7.1
    restart: always
    volumes:
      - kibana-data:/usr/share/kibana/data
    ports:
      - ${KIBANA_PORT}:5601
    environment:
      - ELASTICSEARCH_HOSTS=http://aurora-elasticsearch:9200

volumes:
  mariadb-vol:
    external: false
  postgres-vol:
    external: false
  redis-vol:
    external: false
  typesense-data:
    external: false
  elasticsearch-data:
    driver: local
  kibana-data:
    driver: local
