version: '3'
name: aurora-enviroment

services:
  db1:
    container_name: aurora-mariadb
    image: mariadb:jammy
    volumes:
      - mariadb-vol:/var/lib/mysql
    ports:
      - 3306:3306
    restart: always
    environment:
      MARIADB_USER: ${DATABASE_USER}
      MARIADB_PASSWORD: ${DATABASE_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MARIADB_DATABASE: ${DATABASE_SCHEMA}
  db2:
    container_name: aurora-redis
    image: redis:7.0.9-alpine
    volumes:
      - redis-vol:/data
    ports:
      - 6379:${REDIS_PORT}
    restart: always
    command: redis-server --save 30 1 --loglevel warning --requirepass ${REDIS_PASSWORD}

volumes:
  mariadb-vol:
    external: false
  redis-vol:
    external: false
