version: '3'
name: aurora-enviroment

services:
  db1:
    container_name: aurora-mariadb
    image: mariadb:jammy
    volumes:
      - mariadb-vol:/var/lib/mysql
    ports:
      - 3306:3306
    restart: always
    environment:
      MARIADB_USER: ${DATABASE_USER}
      MARIADB_PASSWORD: ${DATABASE_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MARIADB_DATABASE: ${DATABASE_SCHEMA}

  db2:
    container_name: aurora-redis
    image: redis:7.0.9-alpine
    volumes:
      - redis-vol:/data
    ports:
      - 6379:${REDIS_PORT}
    restart: always
    command: redis-server --save 30 1 --loglevel warning --requirepass ${REDIS_PASSWORD}

  db3:
    container_name: aurora-prostgres
    image: postgres:15.2-alpine
    volumes:
      - postgres-vol:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_SCHEMA}

  elasticsearch01:
    container_name: aurora-elasticsearch
    image: elasticsearch:8.7.1
    restart: always
    volumes:
      - ./elasticsearch-data:/usr/share/elasticsearch/data
    networks:
      - es-net
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false

  kiabana:
    depends_on:
      elasticsearch01:
        condition: service_healthy
    container_name: aurora-kibana
    restart: always
    image: kibana:8.7.1
    networks:
      - es-net
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_HOSTS=http://aurora-elasticsearch:9200

volumes:
  mariadb-vol:
    external: false
  postgres-vol:
    external: false
  redis-vol:
    external: false

networks:
  es-net:
    driver: bridge
